.App {
  width: 90%;
  margin: auto;
  background:rgb(141, 141, 219);
}

.post {
  margin: 0px 1em;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 7px 10px;
  font-size: 12px;
  margin-bottom: 1em;
  border-radius: 3px;
  display: block;
  align-items: center;
}
.title {
  font-weight: 600;
}

